//COLORS (2014)
$dkblue: #283A4A;
$ltgrey: #E1E8EC;
$clover: #3DB505;
$ltmint: #B5DB92;
$grey:   #484E45;

//COLORS (2015)
$muteAqua:  #CEE4E2;
$ltgrey:    #f3f3f3;
$slate:     #303840;
$slateBlue: #34495e;
$experimentalOrange: #f0b871;
$newGreen:  #3eb7ae;

// COLORS (2016)
$cobalt:     #3943B7;
$aqua-mid:   #02C3C8;
$aqua-light: #5FD8C9;
$cream:      #F7EEE1;
$navy:       #31486A;

.fancytalics {
  font-style: italic;
  letter-spacing: -1px;
  word-spacing: -1px;
  font-weight: 400;
}
