<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">


</head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 text-center">
            <a href="/"><img src="img/logo.png" class="img-responsive logo" alt="HackBeanpot 2014 (Logo)" /></a>
          </div>
          <div class="col-md-8 col-sm-11">
              <h1>{{ page.title }}</h1>

              <p class="lead">Is your project missing? Edits? Corrections?
                <a href="https://github.com/HackBeanpot/Projects" target="_blank">Fork our repo.</a>
              </p>
              <p>{{ content }}</p>
              <hr>
              <p class="lead">Follow the nice kids at <a href="https://twitter.com/hackbeanpot" target="_blank">@hackbeanpot</a> for more updates about HackBeanpot 2016!</p>
          </div>
        </div>
      </div>
    </body>
</html>
