<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,900" rel='stylesheet' type='text/css' />

</head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <a href="/"><img src="img/logo.png" class="logo" alt="HackBeanpot 2014 (Logo)" /></a>
            <h1>{{ page.title }}</h1>
          </div>

          <div class="col-lg-10 col-lg-offset-1">
              <p class="text-center">Is your project missing? Edits? Corrections? 
                <a href="https://github.com/HackBeanpot/Projects" target="_blank">Fork our repo.</a>
              <p>
          {{ content }}
          </div>
        </div>
      </div>

          <div class="footer">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  Follow the nice kids at <a href="https://twitter.com/hackbeanpot" target="_blank">@hackbeanpot</a> for more updates about HackBeanpot 2015!
                </div>
              </div>
            </div>
          </div>
      </div>
    </body>
</html>
